@import url("https://use.typekit.net/nzg5mjs.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap'); */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: Inter, sans-serif;
    font-weight: 400;
}

.margin-space {
    margin-left: 12.5rem;
    margin-right: 12.5rem;
}

.container {
    width: 100%;
    max-width: 1200px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 6.5rem; */
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(50px);
    z-index: 10;
}

.heading,
.heading2 {
    font-family: Sofia-pro, sans-serif;
    font-weight: 900;
    font-style: normal;
}

.heading2 {
    font-weight: 400;
}

.heroImg {
    width: 100%;
    height: 100%;
    max-width: 633.12px;
    max-height: 633px;
}

.aboutCont {
    height: 50vh;
}

.aboutIcon {
    width: 100%;
    height: auto;
    max-width: 60px;
    max-height: 60px;
}

.fancyBtn {
    /* background-image: linear-gradient(to right, #779dff 0.83%, #287fff 99.17%); */
    background-image: linear-gradient(to right, #779dff, #287fff, #1d76fa,  #5a87fa);
    box-shadow: 0 6px 15px 0 #779dff;
    background-size: 300% 100%;

    moz-transition: background .4s ease-in-out, box-shadow .4s ease-in-out;
    -o-transition: background .4s ease-in-out, box-shadow .4s ease-in-out;
    -webkit-transition: background .4s ease-in-out, box-shadow .4s ease-in-out;
    transition: background .4s ease-in-out, box-shadow .4s ease-in-out;
}

.fancyBtn:hover{
    background-position: 100% 0;
    box-shadow: 0 4px 18px 4px #5987fb;
    
    moz-transition: background .4s ease-in-out, box-shadow .4s ease-in-out;
    -o-transition: background .4s ease-in-out, box-shadow .4s ease-in-out;
    -webkit-transition: background .4s ease-in-out, box-shadow .4s ease-in-out;
    transition: background .4s ease-in-out, box-shadow .4s ease-in-out;
}

.memAlum {
    width: 100%;
    /* height: auto; */
    max-width: 356px;
    height: 462px;
    /* max-height: 462px; */
    background: linear-gradient(
            143.93deg,
            rgba(238, 147, 180, 0.9) -0.48%,
            rgba(245, 108, 108, 0.9) 100%
        ),
        url("../assets/index/ieee_dsc.jpg");
}

.fancyJoin {
    background: linear-gradient(90deg, #f56c6c, #ee93b4);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fancyEvent {
    background: linear-gradient(90deg, #7987ff, #769cff);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fancyCollab {
    background: linear-gradient(90deg,  #7987ff, #769cff);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fancyMembers {
    background: linear-gradient(90deg, #CF9BF8, #8D97ED);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.pic {
    border-radius: 18px;
    margin-bottom: 10px;
}

.name {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #17132D;
}

.pos {
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #17132D;
    opacity: 0.6;
}

.eventsCard {
    width: 100%;
    max-width: 320px;
    box-shadow: 0px 6px 14px -6px rgba(24, 39, 75, 0.12),
        0px 10px 32px -4px rgba(24, 39, 75, 0.1);
    background-color: white;
    border-radius: 1.1rem;
}

.fancyClose {
    background-color: #e7ecf2;
    pointer-events: none;
    cursor: default;
}

.eventsImg {
    width: 100%;
    height: auto;
    max-width: 290px;
    max-height: 180px;
}

.partnerImg {
    width: 100%;
    height: auto;
    max-width: 200px;
    max-height: 200px;
}

.applyBtn {
    box-shadow: 0px 0px 15px 2px rgba(255, 255, 255, 0.2);
}

.footer-bg {
    /* background-color: #1e1e28; */
    background: #12121d;
}

.footerLogo {
    width: 85px;
    height: 85px;
}

.memCard {
    /* margin: 1.5rem 10rem; */
}

.memPgImg {
    width: 229px;
}

.memPgTxt {
    width: 654px;
}

.applyBtnTop{
    padding-bottom: 17px;
}

.join{
    margin-left: 5px;
}

.abouttxt{
    color: #585B78;
}

.registerBtn{
    padding-bottom: 12px;
}

.applyBtn{
    padding-bottom: 15px;
}

.line{
    margin-top:100px;
    opacity: 0.3;
}

.topline{
    margin-top: 50px;
}

#partners{
    background-color: #2b2b35;
    padding: 150px 0;
}

#contact{
    padding-top: 50px;
}

.linejoin{
    margin-top: 50px;
}

.aboutheading{
    color: #17132d;
}

.membertitle{
    margin-top: 75px;
}

.link-underline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
    background-size: 0 3px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size .3s ease-in-out;
}

.link-underline-black {
    background-image: linear-gradient(transparent, transparent), linear-gradient(rgb(107 114 128), rgb(107 114 128))
}

.link-underline:hover {
    background-size: 100% 3px;
    background-position: 0 100%
}

@media screen and (max-width: 768px) {
    /* .margin-space {
        margin-left: 0;
        margin-right: 0;
    } */

    body section {
        padding: 0px 20px;
    }

    .aboutCont div div {
        margin-bottom: 20px;
    }

    .eventsCard {
        margin: 20px;
        box-shadow: 0px 6px 14px -6px rgba(24, 39, 75, 0.12),
        0px 10px 32px -4px rgba(24, 39, 75, 0.1);
    }

    #events,
    #partners {
        padding-bottom: 30px;
    }

    .partnerImg {
        width: 100%;
        height: auto;
        max-width: 100px;
        max-height: 100px;
    }
}

@media screen and (max-width: 1280px) and (min-width: 748px){
    .container{
        width: 90%;
        max-width: 896px;
    }
}
