---
import "@fontsource/inter/400.css";
import "@fontsource/inter/500.css";
import "@fontsource/inter/600.css";
import "@fontsource/inter/700.css";
import "@fontsource/inter/800.css";

export interface Props {
  title: string;
  desc?: string;
  og?: string;
  slug?: string;
}

const { title, desc, og, slug } = Astro.props as Props;
---

<!doctype html>
<html lang="en">
  <head>
    <!-- Primary Meta Tags -->
    <title>{title + " | IEEE-IIIT Delhi"}</title>
    <meta name="title" content="IEEE-IIIT Delhi" />
    <meta
      name="description"
      content={desc !== null
        ? desc
        : "Official IEEE Student Branch of IIIT Delhi"}
    />
    <meta
      name="keywords"
      content="IEEE, IEEE IIITD, IEEE-IIIT, IIITD, IIIT Delhi, Compsoc, WIE, Women in Engineering, Slash"
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta
      property="og:url"
      content={"https://ieee.iiitd.edu.in/" + slug !== null ? slug : ""}
    />
    <meta property="og:title" content="IEEE-IIIT Delhi" />
    <meta
      property="og:description"
      content="Official IEEE Student Branch of IIIT Delhi"
    />
    <meta property="og:image" content={og !== null ? og : "/hero-img.webp"} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta
      property="twitter:url"
      content={"https://ieee.iiitd.edu.in/" + slug !== null ? slug : ""}
    />
    <meta property="twitter:title" content="IEEE-IIIT Delhi" />
    <meta
      property="twitter:description"
      content="Official IEEE Student Branch of IIIT Delhi"
    />
    <meta
      property="twitter:image"
      content={og !== null ? og : "/hero-img.webp"}
    />

    <!-- Favicon -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://use.typekit.net/nzg5mjs.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="icon" type="image/x-icon" href="/logo.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <header class="header">
      <nav class="nav">
        <div class="mx-auto my-5 max-w-xl container">
          <div class="flex justify-between items-center px-4 md:px-8 xl:px-0">
            <div class="flex items-center">
              <a href="/">
                <img src="/logo.png" alt="logo" class="h-12" />
              </a>
            </div>
            <div class="flex items-center">
              <a href="/events/" class="heading2 px-4 py-2">events</a>
              <a href="/blogs/" class="heading2 px-4 py-2">blog</a>
              <a href="/members/" class="heading2 pl-4 py-2">members</a>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <slot />
      <!-- contact -->
      <section id="contact" class="footer-bg">
        <div class="container w-11/12 mx-auto">
          <div
            class="mx-auto flex flex-col md:flex-row gap-10 text-white py-20 justify-around max-w-lg md:max-w-none w-4/5 space-y-5"
          >
            <a
              href="/members"
              class="memAlum flex flex-col p-7 justify-end items-end text-right rounded-xl"
            >
              <h1 class="heading text-3xl font-bold">Our Members and Alumni</h1>

              <div
                class="rounded-full border-1 py-2 px-2 flex justify-center items-center mt-7"
                style="background: #f8f8f870"
              >
                <i class="material-icons text-white"> keyboard_arrow_right</i>
              </div>
            </a>
            <div class="flex flex-col justify-center md:w-1/2">
              <h1
                class="fancyJoin heading text-4xl md:text-4xl font-bold leading-10"
              >
                Join Us.
              </h1>

              <h2
                class="heading text-2xl md:text-3xl xl:text-4xl font-bold w-full md:w-4/5 mt-3"
              >
                Become a part of the exclusive community.
              </h2>

              <h3 class="font-bold mt-6 mb-2">Perks</h3>
              <ul class="text-gray-500">
                <li class="my-2">
                  Eligibility for many scholarships, grants and awards.
                </li>
                <li class="my-2">
                  Opportunity to connect with various faculty members.
                </li>
                <li class="my-2">
                  Interact with many distinguished members from the industry and
                  academia connected to the club.
                </li>
              </ul>

              <a
                href="https://forms.gle/5xoKNbj6moQpRn2o9"
                class="heading2 applyBtn bg-white px-10 py-2 text-black rounded-lg mt-10 w-1/4 text-center min-w-[128px]"
              >
                apply
              </a>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer class="px-8 bg-[#111115]">
      <div class="container mx-auto py-14 mb-28">
        <div
          class="flex flex-col md:flex-row gap-4 md:gap-8 md:justify-between text-white md:mx-auto space-y-5 mx-auto max-w-lg md:max-w-none"
        >
          <div class="flex flex-row gap-4 w-full min-w-fit md:w-1/4 md:mx-auto">
            <div class="flex pt-4 text-white">
              <img src="/logowhite.png" alt="logo" class="footerLogo" />
            </div>
            <div class="flex flex-col md:justify-center">
              <h1 class="heading text-xl font-bold">IEEE</h1>
              <h1 class="heading text-xl font-bold">IIIT Delhi</h1>
              <h2 class="heading text-md font-bold text-gray-500">
                student branch
              </h2>

              <p class="text-sm text-gray-500 mt-3">
                IIIT Delhi, Okhla Industrial, <br />
                Phase-III, New Delhi-110020
              </p>
            </div>
          </div>
          <div
            class="flex flex-col md:flex-row gap-4 md:gap-16 md:justify-between w-full md:w-1/3 md:mx-auto"
          >
            <div class="flex flex-col w-full md:w-1/2 mb-5 md:mb-5">
              <h1 class="heading font-bold">Affiliations</h1>
              <div
                class="flex flex-wrap gap-1 md:flex-col space-x-5 md:space-x-0"
              >
                <a
                  href="https://iiitd.ac.in/"
                  target="_blank"
                  class="text-gray-500"
                  ><span class="link link-underline link-underline-black"
                    >IIIT Delhi
                  </span>
                </a>
                <a
                  href="https://www.ieee.org/"
                  target="_blank"
                  class="text-gray-500"
                  ><span class="link link-underline link-underline-black"
                    >IEEE
                  </span>
                </a>
                <a
                  href="https://www.wie.ieee.org/"
                  target="_blank"
                  class="text-gray-500"
                  ><span class="link link-underline link-underline-black"
                    >WiE
                  </span>
                </a>
                <a
                  href="https://www.computer.org/"
                  target="_blank"
                  class="text-gray-500"
                  ><span class="link link-underline link-underline-black"
                    >CompSoc
                  </span>
                </a>
              </div>
            </div>
            <div class="flex flex-col w-full md:w-1/2">
              <h1 class="heading font-bold">Socials</h1>
              <div class="flex flex-wrap md:flex-col md:space-x-0 gap-1">
                <a
                  href="https://www.instagram.com/ieeeiiitdelhi/"
                  target="_blank"
                  class="pr-5 md:pr-0 text-gray-500"
                  ><span class="link link-underline link-underline-black"
                    >Instagram
                  </span>
                </a>
                <a
                  href="https://www.facebook.com/ieeeiiitd/"
                  target="_blank"
                  class="pr-5 md:pr-0 text-gray-500"
                  ><span class="link link-underline link-underline-black"
                    >Facebook
                  </span>
                </a>
                <a
                  href="https://www.linkedin.com/company/ieee-iiitd/"
                  target="_blank"
                  class="pr-5 md:pr-0 text-gray-500"
                  ><span class="link link-underline link-underline-black"
                    >LinkedIn
                  </span>
                </a>
                <a
                  href="https://www.youtube.com/channel/UCKqQYeZ_yOSWL0BQ7eWUqRA"
                  target="_blank"
                  class="pr-5 md:pr-0 text-gray-500"
                  ><span class="link link-underline link-underline-black"
                    >YouTube
                  </span>
                </a>
                <a
                  href="https://twitter.com/ieee_d/"
                  target="_blank"
                  class="pr-5 md:pr-0 text-gray-500"
                  ><span class="link link-underline link-underline-black"
                    >Twitter
                  </span>
                </a>
              </div>
            </div>
          </div>
          <div class="flex flex-col w-full md:w-1/5">
            <h1 class="heading font-bold">Contact</h1>
            <p class="text-gray-500">
              <a href="mailto:ieee@iiitd.ac.in">ieee@iiitd.ac.in</a>
            </p>

            <a
              href="https://github.com/IEEE-IIIT-Delhi/branding"
              class="heading font-bold mt-3"
              ><span class="link link-underline link-underline-black"
                >Graphic Identity
              </span>
            </a>
          </div>
        </div>
      </div>
      <hr class="border-gray-600 opacity-50 rounded-full mx-auto linejoin" />
      <p class="text-center py-3 pb-5 text-gray-600 opacity-50 heading2">
        © 2022 | IEEE - IIIT Delhi
      </p>
    </footer>
    <style is:global>
      * {
        font-family: "Inter", sans-serif;
        font-weight: 400;
      }

      .margin-space {
        margin-left: 12.5rem;
        margin-right: 12.5rem;
      }

      .container {
        width: 100%;
        max-width: 1200px;
      }

      .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        /* height: 6.5rem; */
        background-color: rgba(255, 255, 255, 0.8);
        -webkit-backdrop-filter: blur(8px);
        backdrop-filter: blur(50px);
        z-index: 10;
      }

      .heading,
      .heading2 {
        font-family: Sofia-pro, sans-serif;
        font-weight: 900;
        font-style: normal;
      }

      .heading2 {
        font-weight: 400;
      }

      .heroImg {
        width: 100%;
        height: 100%;
        max-width: 633.12px;
        max-height: 633px;
      }

      .aboutCont {
        height: 50vh;
      }

      .fancyBtn {
        /* background-image: linear-gradient(to right, #779dff 0.83%, #287fff 99.17%); */
        background-image: linear-gradient(
          to right,
          #779dff,
          #287fff,
          #1d76fa,
          #5a87fa
        );
        box-shadow: 0 6px 15px 0 #779dff;
        background-size: 300% 100%;

        moz-transition:
          background 0.4s ease-in-out,
          box-shadow 0.4s ease-in-out;
        -o-transition:
          background 0.4s ease-in-out,
          box-shadow 0.4s ease-in-out;
        -webkit-transition:
          background 0.4s ease-in-out,
          box-shadow 0.4s ease-in-out;
        transition:
          background 0.4s ease-in-out,
          box-shadow 0.4s ease-in-out;
      }

      .fancyBtn:hover {
        background-position: 100% 0;
        box-shadow: 0 4px 18px 4px #5987fb;

        moz-transition:
          background 0.4s ease-in-out,
          box-shadow 0.4s ease-in-out;
        -o-transition:
          background 0.4s ease-in-out,
          box-shadow 0.4s ease-in-out;
        -webkit-transition:
          background 0.4s ease-in-out,
          box-shadow 0.4s ease-in-out;
        transition:
          background 0.4s ease-in-out,
          box-shadow 0.4s ease-in-out;
      }

      .memAlum {
        width: 100%;
        /* height: auto; */
        max-width: 356px;
        height: 462px;
        /* max-height: 462px; */
        background: linear-gradient(
            143.93deg,
            rgba(238, 147, 180, 0.9) -0.48%,
            rgba(245, 108, 108, 0.9) 100%
          ),
          url("/ieee_dsc.jpg");
      }

      .fancyJoin {
        background: linear-gradient(90deg, #f56c6c, #ee93b4);
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      .fancyEvent {
        background: linear-gradient(90deg, #7987ff, #769cff);
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      .fancyCollab {
        background: linear-gradient(90deg, #7987ff, #769cff);
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      .fancyMembers {
        background: linear-gradient(90deg, #cf9bf8, #8d97ed);
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      .pic {
        border-radius: 18px;
        margin-bottom: 10px;
        height: 100px;
      }

      .name {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: #17132d;
      }

      .pos {
        font-weight: 400;
        font-size: 14px;
        line-height: 30px;
        color: #17132d;
        opacity: 0.6;
      }

      .fancyClose {
        background-color: #e7ecf2;
        pointer-events: none;
        cursor: default;
      }

      .partnerImg {
        width: 100%;
        height: auto;
        max-width: 200px;
        max-height: 200px;
      }

      .applyBtn {
        box-shadow: 0px 0px 15px 2px rgba(255, 255, 255, 0.2);
      }

      .footer-bg {
        /* background-color: #1e1e28; */
        background: #202027;
      }

      .footerLogo {
        width: 85px;
        height: 85px;
      }

      .memCard {
        /* margin: 1.5rem 10rem; */
      }

      .memPgImg {
        width: 229px;
      }

      .memPgTxt {
        width: 654px;
      }

      .applyBtnTop {
        padding-bottom: 17px;
      }

      .join {
        margin-left: 5px;
      }

      .registerBtn {
        padding-bottom: 12px;
      }

      .applyBtn {
        padding-bottom: 15px;
      }

      .line {
        margin-top: 100px;
        opacity: 0.3;
      }

      .topline {
        margin-top: 50px;
      }

      #partners {
        background-color: #2b2b35;
        padding: 150px 0;
      }

      #contact {
        padding: 50px 0;
      }

      .linejoin {
        margin-top: 50px;
      }

      .aboutheading {
        color: #17132d;
      }

      .membertitle {
        margin-top: 75px;
      }

      .report {
        box-shadow:
          0px 6px 14px -6px rgba(24, 39, 75, 0.12),
          0px 10px 32px -4px rgba(24, 39, 75, 0.1);
      }

      .link-underline {
        border-bottom-width: 0;
        background-image: linear-gradient(transparent, transparent),
          linear-gradient(#fff, #fff);
        background-size: 0 3px;
        background-position: 0 100%;
        background-repeat: no-repeat;
        transition: background-size 0.3s ease-in-out;
      }

      .link-underline-black {
        background-image: linear-gradient(transparent, transparent),
          linear-gradient(rgb(107 114 128), rgb(107 114 128));
      }
      .link-underline-blue {
        background-image: linear-gradient(transparent, transparent),
          linear-gradient(#5e7eff, #5e7eff);
      }

      .link-underline:hover {
        background-size: 100% 1px;
        background-position: 0 100%;
      }

      @media screen and (max-width: 768px) {
        /* .margin-space {
	margin-left: 0;
	margin-right: 0;
} */

        body section {
          padding: 0px 20px;
        }

        .aboutCont div div {
          margin-bottom: 20px;
        }

        .eventsCard {
          margin: 20px;
          box-shadow:
            0px 6px 14px -6px rgba(24, 39, 75, 0.12),
            0px 10px 32px -4px rgba(24, 39, 75, 0.1);
        }

        #events,
        #partners {
          padding-bottom: 30px;
        }

        .partnerImg {
          width: 100%;
          height: auto;
          max-width: 100px;
          max-height: 100px;
        }
      }

      .sofia {
        font-family: "Sofia-pro", sans-serif;
      }

      @media screen and (max-width: 1280px) and (min-width: 748px) {
        .container {
          width: 90%;
          max-width: 896px;
        }
      }

      .pic {
        border-radius: 18px;
        margin-bottom: 10px;
        width: 100px;
        aspect-ratio: 1;
        object-fit: cover;
      }
    </style>
  </body>
</html>
