---
export interface Props {
    member: {
        name: string;
        pos: string;
        img: string;
        social: {
            fb: string;
            tw: string;
            wb: string;
        };
        desc: string;
        a: string;
    };
}

const { member } = Astro.props as Props;
---

<div class="memCard flex flex-col items-center justify-center">
    <img src={member.img} alt={member.name} class="pic" />
    <h1 class="name">{member.name}</h1>
    {member.pos !== "ExeCom" && <h2 class="pos">{member.pos}</h2>}
</div>
