<section id="about" class="bg-indigo-100">
  <div class="container mx-auto flex md:items-center">
    <div
      class="flex flex-col md:flex-row justify-center md:justify-between md:items-center max-w-xl md:max-w-none mx-auto my-16 gap-4"
    >
      <div class="flex flex-col w-full md:w-1/2 space-y-16 justify-center">
        <h1
          class="heading text-5xl sm:text-6xl md:text-7xl font-bold aboutheading"
        >
          about us
        </h1>
        <div class="flex flex-row justify-between w-60">
          <img src="/About Us/1.png" alt="" class="aboutIcon" />
          <img src="/About Us/2.png" alt="" class="aboutIcon" />
          <img src="/About Us/3.png" alt="" class="aboutIcon" />
          <img src="/About Us/4.png" alt="" class="aboutIcon" />
        </div>
        <p class="text-sm text-gray-500">
          In affiliation with IEEE, WIE, Computer Society, and Signal Processing
          Society.
        </p>
      </div>
      <div class="flex w-full md:w-1/2">
        <p class="leading-7 sm:text-base abouttxt">
          IEEE-IIITD is the student branch of the world’s largest technical
          professional organisation dedicated to advancing technology to benefit
          humanity. At IEEE-IIITD, the student branch members get a chance to
          explore their interests by organising the biggest events of the
          institute alongside the most capable and creatively and technically
          driven students. The membership gives the students networking
          opportunities to meet and learn from fellow IEEE Student and Graduate
          Student Members and engage with professional IEEE members. We are
          driven to provide the student body with access to technical research
          and knowledge. We strive to inculcate a culture of research and
          generate excitement about the field of technology by propagating the
          spirit of competitive collaboration and organising engaging events.
          IEEE-IIITD student branch also consists of the Women in Engineering
          Sub-chapter and CompSoc sub-chapter.
          <br /><br />
          With one of the biggest and most diverse teams of all the clubs and a roster
          of unique events and workshops, IEEE-IIITD is one of the best places to
          be to hone your skills and have fun while at it.
        </p>
      </div>
    </div>
  </div>
</section>

<style>
  .abouttxt {
    color: #585b78;
  }

  .aboutIcon {
    width: 100%;
    height: auto;
    max-width: 60px;
    max-height: 60px;
  }
</style>
