<section id="home" class="md:min-h-fit mt-40 mb-48">
    <div class="container mx-auto">
        <div
            class="flex flex-col max-w-xl md:max-w-none md:flex-row justify-around md:justify-between mx-auto my-14 md:my-18 space-y-10"
        >
            <div class="flex justify-center flex-col">
                <div class="">
                    <h1
                        class="heading text-5xl md:text-7xl xl:text-8xl font-bold"
                    >
                        IEEE
                    </h1>
                    <h1
                        class="heading text-5xl md:text-7xl xl:text-8xl font-bold"
                    >
                        IIIT Delhi
                    </h1>
                    <h2
                        class="heading2 text-3xl md:text-4xl font-bold text-gray-500 join"
                    >
                        student branch
                    </h2>
                </div>
                <div
                    class="flex flex-row space-x-7 items-center join mt-16 xl:mt-36"
                >
                    <p class="text-2xl">Join our team</p>
                    <a href="https://forms.gle/5xoKNbj6moQpRn2o9">
                        <button
                            class="fancyBtn applyBtnTop heading2 rounded-lg border-1 px-9 py-3 leading-7 text-xl text-white"
                        >
                            apply
                        </button>
                    </a>
                </div>
            </div>
            <div>
                <img
                    src="/hero-img.webp"
                    alt="home"
                    class="md:max-w-sm xl:max-w-xl xl:max-h-[633px] rounded-xl"
                />
            </div>
        </div>
    </div>
</section>
