<!-- partners -->
<section id="partners" class="md:min-h-full">
    <div class="container mx-auto">
        <div
            class="flex flex-col mt-16 md:my-20 max-w-lg md:max-w-none mx-auto px-4 sm:px-0"
        >
            <h1
                class="heading text-5xl sm:text-6xl md:text-7xl font-bold text-white text-center"
            >
                our industry
                <span class="heading fancyCollab font-bold"
                    >collaborations
                </span>
            </h1>

            <div
                class="flex flex-wrap justify-start mt-16 ml-16 gap-2 sm:gap-0"
            >
                <div
                    class="flex flex-col min-w-fit w-1/2 md:w-1/3 xl:w-1/4 items-start justify-between gap-4 py-8"
                >
                    <img
                        src="/sponsors/nasa-jpl.png"
                        alt="Nasa JPL"
                        class="h-16"
                    />
                    <a
                        target="_blank"
                        href="https://www.jpl.nasa.gov/"
                        class="text-gray-500"
                        ><span class="link link-underline link-underline-black"
                            >Nasa JPL
                        </span>
                    </a>
                </div>
                <div
                    class="flex flex-col min-w-fit w-1/2 md:w-1/3 xl:w-1/4 items-start justify-end gap-8 py-8"
                >
                    <img
                        src="/sponsors/solana.svg"
                        alt="Solana"
                        class="h-6 lg:h-8"
                    />
                    <a
                        target="_blank"
                        href="https://solana.com/"
                        class="text-gray-500"
                        ><span class="link link-underline link-underline-black"
                            >Solana
                        </span>
                    </a>
                </div>
                <div
                    class="flex flex-col min-w-fit w-1/2 md:w-1/3 xl:w-1/4 items-start justify-between gap-4 py-8"
                >
                    <img
                        src="/sponsors/nordvpn.png"
                        alt="NordVPN"
                        class="h-10 lg:h-12"
                    />
                    <a
                        target="_blank"
                        href="https://nordvpn.com/"
                        class="text-gray-500"
                        ><span class="link link-underline link-underline-black"
                            >NordVPN
                        </span>
                    </a>
                </div>
                <div
                    class="flex flex-col min-w-fit w-1/2 md:w-1/3 xl:w-1/4 items-start justify-between gap-4 py-8"
                >
                    <img
                        src="/sponsors/nescafe.png"
                        alt="Nescafe"
                        class="h-10 lg:h-12"
                    />
                    <a
                        target="_blank"
                        href="https://www.nescafe.com/in/"
                        class="text-gray-500"
                        ><span class="link link-underline link-underline-black"
                            >Nescafé
                        </span>
                    </a>
                </div>
                <div
                    class="flex flex-col min-w-fit w-1/2 md:w-1/3 xl:w-1/4 items-start justify-between gap-4 py-8"
                >
                    <img
                        src="/sponsors/wolfram.png"
                        alt="Wolfram"
                        class="h-10 lg:h-12"
                    />
                    <a
                        target="_blank"
                        href="https://wolfram.com/"
                        class="text-gray-500"
                        ><span class="link link-underline link-underline-black"
                            >Wolfram
                        </span>
                    </a>
                </div>
                <div
                    class="flex flex-col min-w-fit w-1/2 md:w-1/3 xl:w-1/4 items-start justify-between gap-4 py-8"
                >
                    <img src="/sponsors/matic.png" alt="Matic" class="h-12" />
                    <a
                        target="_blank"
                        href="https://matic.network/"
                        class="text-gray-500"
                        ><span class="link link-underline link-underline-black"
                            >Matic
                        </span>
                    </a>
                </div>
                <div
                    class="flex flex-col min-w-fit w-1/2 md:w-1/3 xl:w-1/4 items-start justify-between gap-4 py-8"
                >
                    <img
                        src="/sponsors/coinswitch-kuber-all-white.png"
                        alt="Coinswitch Kuber"
                        class="h-12"
                    />
                    <a
                        target="_blank"
                        href="https://coinswitch.co/in"
                        class="text-gray-500"
                        ><span class="link link-underline link-underline-black"
                            >Coinswitch Kuber
                        </span>
                    </a>
                </div>
                <div
                    class="flex flex-col min-w-fit w-1/2 md:w-1/3 xl:w-1/4 items-start justify-between gap-4 py-8"
                >
                    <img
                        src="/sponsors/echo-ar.png"
                        alt="echoAR"
                        class="h-6 lg:h-8"
                    />
                    <a
                        target="_blank"
                        href="https://www.echoar.xyz"
                        class="text-gray-500"
                        ><span class="link link-underline link-underline-black"
                            >echoAR
                        </span>
                    </a>
                </div>
                <div
                    class="flex flex-col min-w-fit w-1/2 md:w-1/3 xl:w-1/4 items-start justify-between gap-4 py-8"
                >
                    <img src="/sponsors/axure.png" alt="Axure" class="h-9" />
                    <a
                        target="_blank"
                        href="https://www.axure.com/"
                        class="text-gray-500"
                        ><span class="link link-underline link-underline-black"
                            >Axure
                        </span>
                    </a>
                </div>
                <div
                    class="flex flex-col min-w-fit w-1/2 md:w-1/3 xl:w-1/4 items-start justify-between gap-4 py-8"
                >
                    <img
                        src="/sponsors/devfolio.png"
                        alt="Devfolio"
                        class="h-10 lg:h-12"
                    />
                    <a
                        target="_blank"
                        href="https://devfolio.co"
                        class="text-gray-500"
                        ><span class="link link-underline link-underline-black"
                            >Devfolio
                        </span>
                    </a>
                </div>
                <div
                    class="flex flex-col min-w-fit w-1/2 md:w-1/3 xl:w-1/4 items-start justify-between gap-4 py-8"
                >
                    <img
                        src="/sponsors/repl-it.png"
                        alt="Repl.it"
                        class="h-16"
                    />
                    <a
                        target="_blank"
                        href="https://repl.it"
                        class="text-gray-500"
                        ><span class="link link-underline link-underline-black"
                            >repl-it
                        </span>
                    </a>
                </div>
                <div
                    class="flex flex-col min-w-fit w-1/2 md:w-1/3 xl:w-1/4 items-start justify-between gap-4 py-8"
                >
                    <img
                        src="/sponsors/coding-blocks.png"
                        alt="Coding Blocks"
                        class="h-16"
                    />
                    <a
                        target="_blank"
                        href="https://codingblocks.com/"
                        class="text-gray-500"
                        ><span class="link link-underline link-underline-black"
                            >Coding Blocks
                        </span>
                    </a>
                </div>
                <div
                    class="flex flex-col min-w-fit w-1/2 md:w-1/3 xl:w-1/4 items-start justify-between gap-4 py-8"
                >
                    <img
                        src="/sponsors/lumoslabs.png"
                        alt="Lumos Labs"
                        class="h-16"
                    />
                    <a
                        target="_blank"
                        href="https://www.lumoslabs.co"
                        class="text-gray-500"
                        ><span class="link link-underline link-underline-black"
                            >Lumos Labs
                        </span>
                    </a>
                </div>
                <div
                    class="flex flex-col min-w-fit w-1/2 md:w-1/3 xl:w-1/4 items-start justify-between gap-4 py-8"
                >
                    <img
                        src="/sponsors/taskade.png"
                        alt="Taskade"
                        class="h-16"
                    />
                    <a
                        target="_blank"
                        href="https://www.taskade.com/"
                        class="text-gray-500"
                        ><span class="link link-underline link-underline-black"
                            >Taskade
                        </span>
                    </a>
                </div>
                <div
                    class="flex flex-col min-w-fit w-1/2 md:w-1/3 xl:w-1/4 items-start justify-between gap-4 py-8"
                >
                    <img src="/sponsors/fold.png" alt="Fold" class="h-14" />
                    <a
                        target="_blank"
                        href="https://fold.money"
                        class="text-gray-500"
                        ><span class="link link-underline link-underline-black"
                            >Fold
                        </span>
                    </a>
                </div>
                <div
                    class="flex flex-col min-w-fit w-1/2 md:w-1/3 xl:w-1/4 items-start justify-between gap-4 py-8"
                >
                    <img
                        src="/sponsors/portis.png"
                        alt="Portis by ShapeShift"
                        class="h-12"
                    />
                    <a
                        target="_blank"
                        href="https://www.portis.io/"
                        class="text-gray-500"
                        ><span class="link link-underline link-underline-black"
                            >Portis by ShapeShift
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
